// GLOBAL
$linkHoverFontColor: #b4b4b4;

// ASIDE
$mainLeftSectionFontColor: #ebebeb;
$widgetBgColor: #000000;

// MAIN PART
$mainMainPartFontColor: #000000;
$dateFontColor: #6e6e6e;
$mainPartBgColor: #e0e0e0;